<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="test.pro.hub_sparrow">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Hub_Sparrow">
        <activity
            android:name=".University_sites.UniversityWebsiteActivity"
            android:exported="false" />
        <activity
            android:name=".Profile.Profile_Activity"
            android:exported="false" />
        <activity
            android:name=".Contacts.Official_Members"
            android:exported="false" />
        <activity
            android:name=".Contacts.Faculty_Members"
            android:exported="false" />
        <activity
            android:name=".Transport.Transport_Activity"
            android:exported="false" />
        <activity
            android:name=".ExamController.Reasult_Activity"
            android:exported="false" />
        <activity
            android:name=".Accademic.Routine_Activiy"
            android:exported="false" />
        <activity
            android:name=".XYZ.Splash_Activity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Login_Signup.SignupActivity"
            android:exported="false" />
        <activity
            android:name=".Login_Signup.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".Login_Signup.Login_signup_Activity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>